# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/
ENV/
.venv/

# Ignore environment variables file
.env

# Ignore database files
*.db

# Ignore IDE files (e.g., VS Code, PyCharm)
.vscode/
.idea/

# Ignore system files
.DS_Store

# Ignore log files
*.log

# Ignore Docker files
Dockerfile
.dockerignore
